<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64491468112-qe8pj7s9i2bbg9vj17pvuic6c243q30j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64491468112-qe8pj7s9i2bbg9vj17pvuic6c243q30j</string>
	<key>API_KEY</key>
	<string>AIzaSyAoegzxm6oMmLbFkGfsM0GVPMSVLJLNXgI</string>
	<key>GCM_SENDER_ID</key>
	<string>64491468112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umutcanarduc.FilmApp</string>
	<key>PROJECT_ID</key>
	<string>testproject-adb02</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-adb02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64491468112:ios:d4658f1a33e670b4eca855</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-adb02.firebaseio.com</string>
</dict>
</plist>